<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        tools:targetApi="31">
        <activity
            android:name=".LambdaActivity"
            android:exported="false"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".QuoteActivity"
            android:exported="false"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".StateHoistingActivity"
            android:exported="false"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".LazyColumnActivity"
            android:exported="false"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".RowColumnActivity"
            android:exported="false"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".TextFieldActivity"
            android:exported="false"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".textexample.TextViewComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_text_view_compose"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".ButtonsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.JetpackCompose" />
    </application>

</manifest>